/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
.flip-card-front:after {
    background-color: rgba(0, 0, 0, 0.4);
}
.spost {
    border-top: 0px;
}

.spost .entry-image, .spost .entry-image img {
    width: 88px;
    height: 88px; 
    border-radius: 50%;
}

.spost .entry-image img {
        border: 2px solid #44a5c6;
}

.entry-title h2 {
    margin: 10px auto;
    font-size: 19px;
    line-height: 24px;
    text-transform: none;
    letter-spacing: 0.4px;
    
}

.my-custom-scrollbar {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

@media only screen and (max-width:990px) {
     .xs-toppadding { padding-top: 40px!important; } 
}

@media only screen and (max-width: 600px) {
     h1.text-exlarge3 {
        font-size:50px!important;
        margin:0 0;
        line-height:45px!important;
    }
}

h1.text-exlarge3 {
    font-size:70px;
    margin:0 0;
    line-height:65px;
}

#header.transparent-header {
	background-color:rgba(0,0,0,0.05);
}

.button-ovh { background-color: #44a5c6; }
.button-ovh:hover { background-color: #1477a6; }


.button-3d.button-ovh:hover,
.button-reveal.button-ovh:hover,
.button-border.button-ovh:hover,
.button-border.button-ovh.button-fill:before { background-color: #44a5c6 !important; }

.button-border.button-ovh {
	color: #44a5c6;
	border-color: #44a5c6;
}

#page-title.page-title-mini {
    padding: 10px 0;
}
#page-title.page-title-mini h1 { 
  font-size: 12px;
}
#page-title.page-title-mini h1::before {
	content: '// ';
	letter-spacing: 1px;
	color: #44a5c6;
}
.heading-block:after {
    margin-top: 10px;
}
.center .heading-block:after, .heading-block.center:after, .heading-block.title-center:after {
    margin: 10px auto 0;
}

h1.text-exlarge {
	font-size: 60px;
	margin-bottom: 0;
	line-height: 60px;
}

.text-exlarge {
    font-size: 16px!important;
    line-height: 20px;
}

.text-exlarge2 {
    font-size: 40px!important;
    line-height: 40px;
}

.feature-box h4 {
    margin-bottom:10px;
}
.feature-box .fbox-icon img  {
    border: 2px solid #44a5c6;
}

#page-title {
    padding: 50px 0;
    background-color: #FFF;
}
.section { 
  background-color: #fff!important;
}

.section.ovhbgcolor {
    background-color: #44a5c6!important;
    background-image: linear-gradient(141deg, #44a5c6 51%, #1477a6 75%)!important;
}

.section.ovhbgimg {
    background-image: url('../images/bg-how.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size:cover;
}
.bg-header {
    background-image: url('../images/bg-header.jpg');
    background-position: center center;

}

#content p {
    line-height: 1.4;
    text-align: justify;
}

#footer {
    border-top: 1px solid rgba(68,165,198,1.0);
}

#copyrights { 
	padding: 15px 0;
	background-color: #fff;
    line-height: 1.6;
}


.promo-dark.promo-flat {
	background-color: #44a5c6!important;
}

.social-icon.si-small {
	width: 28px;
    height: 28px;
	font-size: 13px;
}
.si-facebook:hover, .si-colored.si-facebook {
    background-color: #44a5c6!important;
}

.si-facebook:hover, .si-colored.si-linkedin {
    background-color: #44a5c6!important;
}
.social-icon {
    margin: 0 5px 1px 0;
}

.cor-gov h4 {
    margin-bottom: 5px;
}

.cor-gov p {
    margin-bottom: 5px;
}

.cor-gov img {
    margin-bottom: 15px;
    width: 100px;
    border-radius: 50%;
}

.cor-container {
    margin-bottom: 50px;
    border: 1px solid #ede6e6;
    padding: 50px 20px;
    border-radius: 13px;
}

.slider-caption address {
    font-size: 18px;
}

.map-pin {
    margin-left: 10%;
}

.slider-pin {
    position: absolute; z-index: 9999; top: -50px;
    width: 459px;
}

.slider-map{
    width: 459px;
}

.address-box {
    margin-left: 60%; padding: 50px; background-color: rgba(0,0,0,0.7)
}

@media (max-width: 415px) {
    .slider-pin {
        width: 100px;
        top: 30px
    }

    .slider-map{
        width: 100px;
    }

    .address-box {
        margin-left: 40%; padding: 10px; background-color: rgba(0,0,0,0.7)
    }

    .slider-caption address {
        font-size: 12px;
        margin-bottom: 10px;
    }

    /*.xs-none {
        display: none;
    }*/

    .xss-phone { font-size: 12px; }

    .slider-caption h4 {
        font-size: 14px;
        margin-top: 2px;
        margin-bottom: 2px!important;
    }

}