.timeline-paragraph p{
	margin-bottom: 10px;
}

.management-team h3{
	margin-bottom: 0px!important;
}

.management-team h6{
	font-weight: 200;
}

.management-team {
	padding-top: 0!important;
}

.management-team .row{
	padding: 20px 0 50px 0
}

.pull-right {
	float: right;
}

.m-b-30 {
	margin-bottom: 30px;
}

.p-b-100 {
	padding-bottom: 100px;
}

.m-b-20 {
	margin-bottom: 20px;
}
.modal-body p{
	text-align: justify;
}


.model-team h4 {
	margin-bottom: 0;
}
.model-team h6 {
	font-weight: 200;
}


.model-team .modal-body {
	padding: 40px 40px 30px 40px;

}

.teambg-left {
	background-image: url(../images/team-bg.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.teambg-right {
	background-image: url(../images/team-bg2.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.year {
	border-top: 3px solid #44a5c6;
	padding-top: 13px;
}

.milestone-left {
	background-image: url('../images/milestone-bg.png'); 
	background-position: center bottom;
	background-repeat: no-repeat;
}

.milestone-right {
	background-image: url('../images/milestone-bg2.png'); 
	background-position: center bottom;
	background-repeat: no-repeat;
}

.director .toggle .togglet, .toggle .toggleta {
    padding: 0 0 0 0;
}


.director h3{
	margin-bottom: 0px!important;
}

.director h6{
	font-weight: 200;
}

.director {
	padding-top: 0!important;
}

.director .row{
	padding: 20px 0 50px 0
}

.container-overview {
	padding-top: 0;
}

.container-overview p{
	text-align: justify;
	margin-bottom: 14px;
}

.container-overview .row{
	padding-top: 20px;
}

.container-overview img{
	padding-bottom: 15px;
}

.container-overview p span{
	font-size: 18px;
	color: #44a5c6;
	font-weight: 800;
}


.container-cg {
	padding-top: 0;
}

.org-chart {
	min-width: 1000px;
}

.scrollable {
	overflow: auto;
}

.container-cg .table-striped > tbody > tr:nth-child(odd) { background-color: rgba(82, 172, 202, 0.1); }